@{
    ViewData["Title"] = "Vue ESM 模式";
    Layout = "_Layout";
}

<div id="app" v-cloak>
    <div class="card p-4 text-center">
        <h1>{{ title }}</h1>
    </div>
</div>

@section Scripts {
    <script type="module">
        import { createApp, ref } from 'vue'; // 直接使用別名

        createApp({
            setup() {
                const title = ref("這是從 Layout 統一管理的 Vue");
                return { title };
            }
        }).mount('#app');
    </script>
}