@{
    ViewData["Title"] = "Vue 修正版";
    Layout = "_Layout";
}

<div id="app">
    <div class="card p-4 text-center">
        <h1>{{ title }}</h1>
    </div>
</div>

@section Scripts {
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script>
        const { createApp, ref } = Vue;

        createApp({
            setup() {
                const title = ref("練習頁面"); // 補上 title 變數，不然 <h1> 會空白

                return {
                    title,
                };
            }
        }).mount('#app');
    </script>
}